{
  "openapi": "3.1.0",
  "info": {
    "title": "NarcoScope Public Evidence API",
    "version": "1.3.0",
    "description": "Read-only access to NarcoScope's aggregate official-data overview, citation-gated evidence newsroom, public Palimpsest bridges, and a separately pinned Belt and Road context lane. No endpoint provides point-of-sale, real-time, navigable, synthesis-route, or yield information, and BRI context cannot enter drug-market inference."
  },
  "servers": [
    {
      "url": "https://narcoscope.com/api/v1"
    }
  ],
  "externalDocs": {
    "description": "API and MCP quickstart",
    "url": "https://narcoscope.com/developers/"
  },
  "components": {
    "schemas": {
      "Envelope": {
        "type": "object",
        "required": [
          "ok",
          "resource",
          "data"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "resource": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "PalimpsestBriContext": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "$id": "https://narcoscope.com/schemas/narcoscope-palimpsest-bri-envelope-v1.schema.json",
        "$defs": {
          "artifact": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "$id": "https://narcoscope.com/data/narcoscope-palimpsest-bri-v1.schema.json",
            "title": "NarcoScope Palimpsest BRI parallel-context bridge",
            "type": "object",
            "required": [
              "$schema",
              "schemaVersion",
              "artifactId",
              "dataAsOf",
              "scope",
              "provenance",
              "sourceReadiness",
              "claimSemantics",
              "targetCoverage",
              "economicContext",
              "usePolicy",
              "limitations"
            ],
            "properties": {
              "$schema": {
                "const": "./narcoscope-palimpsest-bri-v1.schema.json"
              },
              "schemaVersion": {
                "const": "narcoscope.palimpsest.bri-context.v1"
              },
              "artifactId": {
                "const": "narcoscope.palimpsest.bri-parallel-context"
              },
              "dataAsOf": {
                "$ref": "#/$defs/dateTime"
              },
              "scope": {
                "type": "string",
                "minLength": 1
              },
              "provenance": {
                "$ref": "#/$defs/provenance"
              },
              "sourceReadiness": {
                "$ref": "#/$defs/sourceReadiness"
              },
              "claimSemantics": {
                "$ref": "#/$defs/claimSemantics"
              },
              "targetCoverage": {
                "type": "array",
                "minItems": 5,
                "maxItems": 5,
                "items": {
                  "$ref": "#/$defs/targetArea"
                }
              },
              "economicContext": {
                "$ref": "#/$defs/economicContext"
              },
              "usePolicy": {
                "$ref": "#/$defs/usePolicy"
              },
              "limitations": {
                "type": "array",
                "minItems": 8,
                "items": {
                  "type": "string",
                  "minLength": 1
                },
                "uniqueItems": true
              }
            },
            "additionalProperties": false,
            "$defs": {
              "sha256": {
                "type": "string",
                "pattern": "^[0-9a-f]{64}$"
              },
              "commit": {
                "type": "string",
                "pattern": "^[0-9a-f]{40}$"
              },
              "gitOid": {
                "type": "string",
                "pattern": "^(?:[0-9a-f]{40}|[0-9a-f]{64})$"
              },
              "dateTime": {
                "type": "string",
                "format": "date-time"
              },
              "uri": {
                "type": "string",
                "format": "uri"
              },
              "nullableYear": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 1900,
                "maximum": 2200
              },
              "stringArray": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1
                },
                "uniqueItems": true
              },
              "countMap": {
                "type": "object",
                "minProperties": 1,
                "additionalProperties": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "optionalCountMap": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "sourceDescriptor": {
                "type": "object",
                "required": [
                  "path",
                  "canonicalUrl",
                  "bytes",
                  "sha256",
                  "gitBlobOid"
                ],
                "properties": {
                  "path": {
                    "type": "string",
                    "minLength": 1
                  },
                  "canonicalUrl": {
                    "$ref": "#/$defs/uri"
                  },
                  "railwayMirrorUrl": {
                    "$ref": "#/$defs/uri"
                  },
                  "bytes": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "sha256": {
                    "$ref": "#/$defs/sha256"
                  },
                  "gitBlobOid": {
                    "$ref": "#/$defs/gitOid"
                  }
                },
                "additionalProperties": false
              },
              "sourceArtifacts": {
                "type": "object",
                "required": [
                  "observatory",
                  "economics",
                  "pagesPublicationReceipt"
                ],
                "properties": {
                  "observatory": {
                    "$ref": "#/$defs/sourceDescriptor"
                  },
                  "economics": {
                    "$ref": "#/$defs/sourceDescriptor"
                  },
                  "pagesPublicationReceipt": {
                    "$ref": "#/$defs/sourceDescriptor"
                  }
                },
                "additionalProperties": false
              },
              "pagesPublication": {
                "type": "object",
                "required": [
                  "verificationState",
                  "sourceRevision",
                  "sourceTreeOid",
                  "receiptBytes",
                  "receiptSha256",
                  "verifiedAt",
                  "freshUntil",
                  "availabilitySemantics",
                  "servedResources"
                ],
                "properties": {
                  "verificationState": {
                    "const": "served_resource_receipt_validated"
                  },
                  "sourceRevision": {
                    "$ref": "#/$defs/commit"
                  },
                  "sourceTreeOid": {
                    "$ref": "#/$defs/gitOid"
                  },
                  "receiptBytes": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "receiptSha256": {
                    "$ref": "#/$defs/sha256"
                  },
                  "verifiedAt": {
                    "$ref": "#/$defs/dateTime"
                  },
                  "freshUntil": {
                    "$ref": "#/$defs/dateTime"
                  },
                  "availabilitySemantics": {
                    "type": "string",
                    "minLength": 1
                  },
                  "servedResources": {
                    "type": "array",
                    "minItems": 3,
                    "maxItems": 3,
                    "items": {
                      "$ref": "#/$defs/sourceDescriptor"
                    }
                  }
                },
                "additionalProperties": false
              },
              "release": {
                "type": "object",
                "required": [
                  "producer",
                  "verificationState",
                  "canonicalBaseUrl",
                  "railwayMirrorBaseUrl",
                  "deploymentId",
                  "sourceRevision",
                  "sourceTreeOid",
                  "artifactTreeSha256",
                  "artifactManifest",
                  "receiptBytes",
                  "receiptSha256",
                  "verifiedAt",
                  "verificationSemantics",
                  "pagesPublication"
                ],
                "properties": {
                  "producer": {
                    "const": "Palimpsest"
                  },
                  "verificationState": {
                    "const": "release_receipt_validated"
                  },
                  "canonicalBaseUrl": {
                    "const": "https://palimpsest.info"
                  },
                  "railwayMirrorBaseUrl": {
                    "$ref": "#/$defs/uri"
                  },
                  "deploymentId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sourceRevision": {
                    "$ref": "#/$defs/commit"
                  },
                  "sourceTreeOid": {
                    "$ref": "#/$defs/gitOid"
                  },
                  "artifactTreeSha256": {
                    "$ref": "#/$defs/sha256"
                  },
                  "artifactManifest": {
                    "type": "object",
                    "required": [
                      "schemaVersion",
                      "bytes",
                      "sha256",
                      "fileCount",
                      "totalBytes"
                    ],
                    "properties": {
                      "schemaVersion": {
                        "const": "palimpsest.railway-static-release.v1"
                      },
                      "bytes": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "sha256": {
                        "$ref": "#/$defs/sha256"
                      },
                      "fileCount": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "totalBytes": {
                        "type": "integer",
                        "minimum": 1
                      }
                    },
                    "additionalProperties": false
                  },
                  "receiptBytes": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "receiptSha256": {
                    "$ref": "#/$defs/sha256"
                  },
                  "verifiedAt": {
                    "$ref": "#/$defs/dateTime"
                  },
                  "verificationSemantics": {
                    "type": "string",
                    "minLength": 1
                  },
                  "pagesPublication": {
                    "$ref": "#/$defs/pagesPublication"
                  }
                },
                "additionalProperties": false
              },
              "provenance": {
                "type": "object",
                "required": [
                  "producer",
                  "consumer",
                  "sourcePin",
                  "schema",
                  "release",
                  "sourceArtifacts"
                ],
                "properties": {
                  "producer": {
                    "const": "Palimpsest"
                  },
                  "consumer": {
                    "const": "NarcoScope"
                  },
                  "sourcePin": {
                    "type": "object",
                    "required": [
                      "path",
                      "schemaVersion",
                      "bytes",
                      "sha256"
                    ],
                    "properties": {
                      "path": {
                        "const": "scripts/bridge/palimpsest-bri-source-pin.json"
                      },
                      "schemaVersion": {
                        "const": "narcoscope.palimpsest.bri-source-pin.v1"
                      },
                      "bytes": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "sha256": {
                        "$ref": "#/$defs/sha256"
                      }
                    },
                    "additionalProperties": false
                  },
                  "schema": {
                    "type": "object",
                    "required": [
                      "path",
                      "id",
                      "bytes",
                      "sha256"
                    ],
                    "properties": {
                      "path": {
                        "const": "public/data/narcoscope-palimpsest-bri-v1.schema.json"
                      },
                      "id": {
                        "const": "https://narcoscope.com/data/narcoscope-palimpsest-bri-v1.schema.json"
                      },
                      "bytes": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "sha256": {
                        "$ref": "#/$defs/sha256"
                      }
                    },
                    "additionalProperties": false
                  },
                  "release": {
                    "$ref": "#/$defs/release"
                  },
                  "sourceArtifacts": {
                    "$ref": "#/$defs/sourceArtifacts"
                  }
                },
                "additionalProperties": false
              },
              "sourceReadiness": {
                "type": "object",
                "required": [
                  "sourceCount",
                  "buildReadySourceCount",
                  "implementationStates",
                  "rightsStatusCounts",
                  "buildReadyGaps"
                ],
                "properties": {
                  "sourceCount": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "buildReadySourceCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "implementationStates": {
                    "type": "object",
                    "required": [
                      "adapter_ready",
                      "blocked",
                      "link_only",
                      "live",
                      "planned"
                    ],
                    "properties": {
                      "adapter_ready": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "blocked": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "link_only": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "live": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "planned": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "additionalProperties": false
                  },
                  "rightsStatusCounts": {
                    "$ref": "#/$defs/countMap"
                  },
                  "buildReadyGaps": {
                    "$ref": "#/$defs/stringArray"
                  }
                },
                "additionalProperties": false
              },
              "claimSemantics": {
                "type": "object",
                "required": [
                  "classificationRule",
                  "sourceClassCounts",
                  "authorityRoleCounts",
                  "claimClassCounts",
                  "officialOrAdministrativeSourceIds",
                  "independentObservationSourceIds",
                  "modeledOrAnalyticalSourceIds"
                ],
                "properties": {
                  "classificationRule": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sourceClassCounts": {
                    "$ref": "#/$defs/countMap"
                  },
                  "authorityRoleCounts": {
                    "$ref": "#/$defs/countMap"
                  },
                  "claimClassCounts": {
                    "$ref": "#/$defs/countMap"
                  },
                  "officialOrAdministrativeSourceIds": {
                    "$ref": "#/$defs/stringArray"
                  },
                  "independentObservationSourceIds": {
                    "$ref": "#/$defs/stringArray"
                  },
                  "modeledOrAnalyticalSourceIds": {
                    "$ref": "#/$defs/stringArray"
                  }
                },
                "additionalProperties": false
              },
              "sourceSummary": {
                "type": "object",
                "required": [
                  "sourceId",
                  "implementationState",
                  "sourceClass",
                  "authorityRole",
                  "rightsStatus",
                  "claimClasses"
                ],
                "properties": {
                  "sourceId": {
                    "type": "string",
                    "pattern": "^[a-z0-9_]+$"
                  },
                  "implementationState": {
                    "enum": [
                      "adapter_ready",
                      "blocked",
                      "link_only",
                      "live",
                      "planned"
                    ]
                  },
                  "sourceClass": {
                    "type": "string",
                    "minLength": 1
                  },
                  "authorityRole": {
                    "type": "string",
                    "minLength": 1
                  },
                  "rightsStatus": {
                    "type": "string",
                    "minLength": 1
                  },
                  "claimClasses": {
                    "$ref": "#/$defs/stringArray"
                  }
                },
                "additionalProperties": false
              },
              "target": {
                "type": "object",
                "required": [
                  "targetId",
                  "label",
                  "targetType",
                  "evidenceStatus",
                  "requiredCoverage",
                  "sourceReadiness",
                  "sources"
                ],
                "properties": {
                  "targetId": {
                    "type": "string",
                    "pattern": "^[a-z0-9_]+$"
                  },
                  "label": {
                    "type": "string",
                    "minLength": 1
                  },
                  "targetType": {
                    "type": "string",
                    "minLength": 1
                  },
                  "evidenceStatus": {
                    "type": "string",
                    "minLength": 1
                  },
                  "requiredCoverage": {
                    "$ref": "#/$defs/stringArray"
                  },
                  "sourceReadiness": {
                    "type": "object",
                    "required": [
                      "sourceCount",
                      "buildReadySourceCount",
                      "implementationStates"
                    ],
                    "properties": {
                      "sourceCount": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "buildReadySourceCount": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "implementationStates": {
                        "$ref": "#/$defs/countMap"
                      }
                    },
                    "additionalProperties": false
                  },
                  "sources": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "$ref": "#/$defs/sourceSummary"
                    }
                  }
                },
                "additionalProperties": false
              },
              "targetArea": {
                "type": "object",
                "required": [
                  "areaId",
                  "label",
                  "targets"
                ],
                "properties": {
                  "areaId": {
                    "enum": [
                      "cpec",
                      "gwadar",
                      "cmec",
                      "kyaukpyu",
                      "balochistan"
                    ]
                  },
                  "label": {
                    "type": "string",
                    "minLength": 1
                  },
                  "targets": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "$ref": "#/$defs/target"
                    }
                  }
                },
                "additionalProperties": false
              },
              "coverageWindow": {
                "type": "object",
                "required": [
                  "fromYear",
                  "toYear",
                  "yearCount"
                ],
                "properties": {
                  "fromYear": {
                    "$ref": "#/$defs/nullableYear"
                  },
                  "toYear": {
                    "$ref": "#/$defs/nullableYear"
                  },
                  "yearCount": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "additionalProperties": false
              },
              "unavailableCoverage": {
                "type": "object",
                "required": [
                  "fromYear",
                  "toYear",
                  "yearCount",
                  "reasonCounts"
                ],
                "properties": {
                  "fromYear": {
                    "$ref": "#/$defs/nullableYear"
                  },
                  "toYear": {
                    "$ref": "#/$defs/nullableYear"
                  },
                  "yearCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "reasonCounts": {
                    "$ref": "#/$defs/optionalCountMap"
                  }
                },
                "additionalProperties": false
              },
              "indicatorCoverage": {
                "type": "object",
                "required": [
                  "seriesId",
                  "indicatorId",
                  "unit",
                  "annualCoverage",
                  "sourceRowCount",
                  "observed",
                  "forecast",
                  "unavailable"
                ],
                "properties": {
                  "seriesId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "indicatorId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "unit": {
                    "type": "string",
                    "minLength": 1
                  },
                  "annualCoverage": {
                    "$ref": "#/$defs/coverageWindow"
                  },
                  "sourceRowCount": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "observed": {
                    "$ref": "#/$defs/coverageWindow"
                  },
                  "forecast": {
                    "$ref": "#/$defs/coverageWindow"
                  },
                  "unavailable": {
                    "$ref": "#/$defs/unavailableCoverage"
                  }
                },
                "additionalProperties": false
              },
              "countryCoverage": {
                "type": "object",
                "required": [
                  "countryCode",
                  "country",
                  "indicatorCount",
                  "sourceRowCount",
                  "observedRowCount",
                  "forecastRowCount",
                  "unavailableRowCount",
                  "indicators"
                ],
                "properties": {
                  "countryCode": {
                    "enum": [
                      "CHN",
                      "MMR",
                      "PAK"
                    ]
                  },
                  "country": {
                    "enum": [
                      "China",
                      "Myanmar",
                      "Pakistan"
                    ]
                  },
                  "indicatorCount": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "sourceRowCount": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "observedRowCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "forecastRowCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "unavailableRowCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "indicators": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "$ref": "#/$defs/indicatorCoverage"
                    }
                  }
                },
                "additionalProperties": false
              },
              "economicContext": {
                "type": "object",
                "required": [
                  "schemaVersion",
                  "generatedAt",
                  "collectionId",
                  "source",
                  "rights",
                  "clocks",
                  "hashPointers",
                  "contextPolicy",
                  "coverage"
                ],
                "properties": {
                  "schemaVersion": {
                    "const": "palimpsest.bri-economic-observations.v1"
                  },
                  "generatedAt": {
                    "$ref": "#/$defs/dateTime"
                  },
                  "collectionId": {
                    "$ref": "#/$defs/sha256"
                  },
                  "source": {
                    "type": "object",
                    "required": [
                      "sourceId",
                      "name",
                      "publisher",
                      "attribution",
                      "catalogUrl"
                    ],
                    "properties": {
                      "sourceId": {
                        "const": "world_bank_wdi"
                      },
                      "name": {
                        "type": "string",
                        "minLength": 1
                      },
                      "publisher": {
                        "type": "string",
                        "minLength": 1
                      },
                      "attribution": {
                        "type": "string",
                        "minLength": 1
                      },
                      "catalogUrl": {
                        "$ref": "#/$defs/uri"
                      }
                    },
                    "additionalProperties": false
                  },
                  "rights": {
                    "type": "object",
                    "required": [
                      "license",
                      "licenseUrl",
                      "redistributionStatus",
                      "rightsEvidenceUrl",
                      "attribution"
                    ],
                    "properties": {
                      "license": {
                        "type": "string",
                        "minLength": 1
                      },
                      "licenseUrl": {
                        "$ref": "#/$defs/uri"
                      },
                      "redistributionStatus": {
                        "type": "string",
                        "minLength": 1
                      },
                      "rightsEvidenceUrl": {
                        "$ref": "#/$defs/uri"
                      },
                      "attribution": {
                        "type": "string",
                        "minLength": 1
                      }
                    },
                    "additionalProperties": false
                  },
                  "clocks": {
                    "type": "object",
                    "required": [
                      "generatedAt",
                      "datasetLastUpdated",
                      "sourceReleaseUpperBound",
                      "retrievedAt"
                    ],
                    "properties": {
                      "generatedAt": {
                        "$ref": "#/$defs/dateTime"
                      },
                      "datasetLastUpdated": {
                        "type": "string",
                        "format": "date"
                      },
                      "sourceReleaseUpperBound": {
                        "$ref": "#/$defs/dateTime"
                      },
                      "retrievedAt": {
                        "$ref": "#/$defs/dateTime"
                      }
                    },
                    "additionalProperties": false
                  },
                  "hashPointers": {
                    "type": "object",
                    "required": [
                      "observationsSha256",
                      "registrySha256",
                      "rawResponseSha256s"
                    ],
                    "properties": {
                      "observationsSha256": {
                        "$ref": "#/$defs/sha256"
                      },
                      "registrySha256": {
                        "$ref": "#/$defs/sha256"
                      },
                      "rawResponseSha256s": {
                        "type": "array",
                        "minItems": 1,
                        "items": {
                          "$ref": "#/$defs/sha256"
                        },
                        "uniqueItems": true
                      }
                    },
                    "additionalProperties": false
                  },
                  "contextPolicy": {
                    "type": "object",
                    "required": [
                      "aggregateLevel",
                      "scope",
                      "causalityBoundary",
                      "missingValuePolicy",
                      "forecastPolicy",
                      "downstreamSemantics"
                    ],
                    "properties": {
                      "aggregateLevel": {
                        "const": "country"
                      },
                      "scope": {
                        "const": "national_economic_context"
                      },
                      "causalityBoundary": {
                        "const": "not_evidence_of_bri_causality"
                      },
                      "missingValuePolicy": {
                        "const": "source_null_remains_unavailable"
                      },
                      "forecastPolicy": {
                        "type": "string",
                        "minLength": 1
                      },
                      "downstreamSemantics": {
                        "type": "object",
                        "required": [
                          "observed",
                          "forecast",
                          "unavailable",
                          "join_boundary"
                        ],
                        "properties": {
                          "observed": {
                            "type": "string",
                            "minLength": 1
                          },
                          "forecast": {
                            "type": "string",
                            "minLength": 1
                          },
                          "unavailable": {
                            "type": "string",
                            "minLength": 1
                          },
                          "join_boundary": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "additionalProperties": false
                  },
                  "coverage": {
                    "type": "object",
                    "required": [
                      "totals",
                      "countries"
                    ],
                    "properties": {
                      "totals": {
                        "type": "object",
                        "required": [
                          "countries",
                          "indicators",
                          "sourceRows",
                          "observedRows",
                          "forecastRows",
                          "unavailableRows"
                        ],
                        "properties": {
                          "countries": {
                            "const": 3
                          },
                          "indicators": {
                            "type": "integer",
                            "minimum": 1
                          },
                          "sourceRows": {
                            "type": "integer",
                            "minimum": 1
                          },
                          "observedRows": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "forecastRows": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "unavailableRows": {
                            "type": "integer",
                            "minimum": 0
                          }
                        },
                        "additionalProperties": false
                      },
                      "countries": {
                        "type": "array",
                        "minItems": 3,
                        "maxItems": 3,
                        "items": {
                          "$ref": "#/$defs/countryCoverage"
                        }
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              },
              "usePolicy": {
                "type": "object",
                "required": [
                  "lane",
                  "allowedUse",
                  "crossLaneJoinPolicy",
                  "displayRelationship",
                  "prohibitions"
                ],
                "properties": {
                  "lane": {
                    "const": "parallel_context_only"
                  },
                  "allowedUse": {
                    "type": "string",
                    "minLength": 1
                  },
                  "crossLaneJoinPolicy": {
                    "const": "prohibited"
                  },
                  "displayRelationship": {
                    "type": "string",
                    "minLength": 1
                  },
                  "prohibitions": {
                    "type": "object",
                    "required": [
                      "drugConflictInfrastructureCausalJoin",
                      "actorClassification",
                      "bilateralRouteInference",
                      "guiltInference",
                      "politicalMovementClassification",
                      "projectAttributionFromNationalSeries",
                      "tacticalOrNavigableUse"
                    ],
                    "properties": {
                      "drugConflictInfrastructureCausalJoin": {
                        "const": "prohibited"
                      },
                      "actorClassification": {
                        "const": "prohibited"
                      },
                      "bilateralRouteInference": {
                        "const": "prohibited"
                      },
                      "guiltInference": {
                        "const": "prohibited"
                      },
                      "politicalMovementClassification": {
                        "const": "prohibited"
                      },
                      "projectAttributionFromNationalSeries": {
                        "const": "prohibited"
                      },
                      "tacticalOrNavigableUse": {
                        "const": "prohibited"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "type": "object",
        "required": [
          "schema",
          "data",
          "links",
          "interpretation"
        ],
        "properties": {
          "schema": {
            "const": "narcoscope.api.palimpsest-bri-envelope.v1"
          },
          "data": {
            "$ref": "#/$defs/artifact"
          },
          "links": {
            "type": "object",
            "required": [
              "canonical",
              "sha256",
              "schema"
            ],
            "properties": {
              "canonical": {
                "type": "string",
                "format": "uri"
              },
              "sha256": {
                "type": "string",
                "format": "uri"
              },
              "schema": {
                "const": "https://narcoscope.com/data/narcoscope-palimpsest-bri-v1.schema.json"
              }
            },
            "additionalProperties": false
          },
          "interpretation": {
            "type": "string",
            "minLength": 1
          }
        },
        "additionalProperties": false
      },
      "PalimpsestBriRestEnvelope": {
        "type": "object",
        "required": [
          "ok",
          "resource",
          "data"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "resource": {
            "const": "palimpsest-bri"
          },
          "data": {
            "$ref": "#/components/schemas/PalimpsestBriContext"
          }
        },
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "required": [
          "ok",
          "error",
          "message"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": false
      }
    },
    "responses": {
      "Success": {
        "description": "Published NarcoScope artifact",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Envelope"
            }
          }
        }
      },
      "PalimpsestBriSuccess": {
        "description": "Verified BRI response envelope whose data is the exact packaged artifact value",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PalimpsestBriRestEnvelope"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid resource parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/capabilities": {
      "get": {
        "operationId": "listNarcoScopeCapabilities",
        "summary": "Discover product capabilities, access points, audiences, and safety boundaries",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          }
        }
      }
    },
    "/overview": {
      "get": {
        "operationId": "getNarcoScopeOverview",
        "summary": "Read bounded headline aggregates from the bundled official datasets",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          }
        }
      }
    },
    "/newsroom": {
      "get": {
        "operationId": "getNarcoScopeNewsroom",
        "summary": "List deterministic analyses and their publication-gate receipts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          }
        }
      }
    },
    "/story": {
      "get": {
        "operationId": "getNarcoScopeStory",
        "summary": "Read one newsroom story as metadata, machine brief, or cited dossier",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
            }
          },
          {
            "name": "artifact",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metadata",
                "machine-brief",
                "dossier"
              ],
              "default": "machine-brief"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/palimpsest-bridge": {
      "get": {
        "operationId": "getNarcoScopePalimpsestBridge",
        "summary": "Read the official-only China aggregate and its claim boundaries",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          }
        }
      }
    },
    "/palimpsest-corridors": {
      "get": {
        "operationId": "getNarcoScopePalimpsestCorridors",
        "summary": "Read official country aggregates for China, Pakistan, and Myanmar under a geography-and-time-only join contract",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          }
        }
      }
    },
    "/palimpsest-bri": {
      "get": {
        "operationId": "getNarcoScopePalimpsestBriContext",
        "summary": "Read pinned BRI source readiness and national economic coverage as a parallel, non-joinable context lane",
        "description": "Returns CPEC, Gwadar, CMEC, Kyaukpyu, and Balochistan target readiness plus World Bank WDI country-indicator-year coverage counts. Drug-conflict-infrastructure causal joins, actor classification, bilateral route inference, guilt, political-movement classification, project attribution from national series, and tactical or navigable use are prohibited.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PalimpsestBriSuccess"
          },
          "500": {
            "description": "The packaged artifact, sidecar, schema, or semantic boundary failed closed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
